@font-face {
  font-family: "incReg";
  src: url(./fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "orator";
  src: url(./fonts/Orator-Std-Font.otf);
}

body {
  margin: 10px 14%;
  padding: 0;
  background-color: rgb(15, 1, 168);
  color: whitesmoke;
  font-size: 16px;
  font-family: "incReg", monospace;
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "orator";
  color: yellow;
}

nav {
  text-align: center;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(235, 113, 215);
}

a:hover {
  color: rgb(249, 236, 91);
}

ol,
ul {
  color: chartreuse;
}
#robot {
  border: solid 10px rgb(7, 226, 10);
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  width: 200px;
}

ul li {
  list-style-type: "✴";
  margin-left: -12px;
  padding-left: 10px;
}

.stars {
  width: 100px;
  padding: 30px;
}

/* positioning task */
#positioningStar {
  border: solid 4px rgb(7, 226, 10);
  padding: 0 0 50px 50px;
}

/* grid task */

#container {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px auto;
}

#gallery {
display: grid;
grid-template-columns: auto auto auto auto;
}

/* MOBILE DESIGN CSS */

@media only screen and (max-width: 800px) {
    body {
        margin: 10px 20px;
}

#container {
    display: grid;
    gap: 8px;
}
}

@media only screen and (max-width: 400px) {
    body {
        margin: 10px 20px;
}
}